In [2]:
import pandas as pd

In [3]:
# Read both CSV files
climate = pd.read_csv('DATA/CLEAN DATA/clean_climate_data.csv')
tb = pd.read_csv('DATA/CLEAN DATA/clean-TB-data.csv')

In [4]:
# Display names of countries in climate
Country_name = climate["Country"].unique().tolist()
print(Country_name)

['Argentina', 'Australia', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Japan', 'Mexico', 'Russia', 'South Africa', 'UK', 'USA']

In [5]:
# Display names of countries in tb
Country_name = tb["Country"].unique()
print(Country_name)

['Bangladesh' 'Brazil' 'China' 'India' 'Indonesia' 'Nigeria' 'Pakistan'
 'Russia' 'South Africa' 'USA']

In [6]:
# Find common countries
common_countries = set(climate['Country']).intersection(tb['Country'])
print(common_countries)

{'India', 'Brazil', 'Indonesia', 'South Africa', 'China', 'USA', 'Russia'}

In [7]:
# Filter both datasets to create datasets with only the common countries 
climate_common = climate[climate['Country'].isin(common_countries)]
tb_common = tb[tb['Country'].isin(common_countries)]
print(climate_common,tb_common)

    Country  Year  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
43   Brazil  2000             31.200000                    14.600000
44   Brazil  2001             17.150000                    11.350000
45   Brazil  2002             14.266667                    11.066667
46   Brazil  2003             17.450000                    12.750000
47   Brazil  2004             16.400000                    10.100000
..      ...   ...                   ...                          ...
335     USA  2019             30.800000                     8.400000
336     USA  2020             14.250000                    10.600000
337     USA  2021             26.450000                    16.050000
338     USA  2022             17.285714                    11.242857
339     USA  2023             16.257143                    11.242857

     Rainfall (mm)    Population  Extreme Weather Events
43      803.000000  2.553400e+08                9.000000
44     1492.000000  6.233296e+08               12.500000
45     2127.000000  5.631957e+08                9.000000
46     1616.000000  5.330340e+08                8.000000
47     1641.000000  6.815291e+08                7.000000
..             ...           ...                     ...
335    1891.000000  7.042742e+08                7.333333
336    2349.500000  7.770560e+08                6.250000
337    1387.000000  1.094680e+09                6.500000
338    1912.571429  7.274027e+08                7.714286
339    1532.000000  7.628877e+08                5.142857

[159 rows x 7 columns]     Country  Year      TB_Cases    TB_Deaths  TB_Incidence_Rate  \
25   Brazil  2000  26469.928571  4715.071429         264.630714
26   Brazil  2001  27111.200000  5496.066667         222.940667
27   Brazil  2002  25070.307692  4635.076923         224.391538
28   Brazil  2003  26293.800000  4056.400000         224.887000
29   Brazil  2004  26121.500000  5998.700000         211.456000
..      ...   ...           ...          ...                ...
245     USA  2020  21129.500000  5269.200000         297.089000
246     USA  2021  21007.142857  3201.428571         285.974286
247     USA  2022  31407.600000  6023.866667         253.673333
248     USA  2023  27703.545455  6002.000000         246.024545
249     USA  2024  26832.916667  4297.666667         283.975000

     TB_Mortality_Rate    Population  Urban_Population_Percentage  \
25           25.564286  6.243100e+08                    53.610714
26           22.799333  5.773580e+08                    57.509333
27           26.070000  6.154342e+08                    52.996154
28           21.379000  3.593807e+08                    52.546000
29           32.323000  8.924601e+08                    54.511000
..                 ...           ...                          ...
245          30.186000  7.849409e+08                    60.090000
246          19.812857  9.580873e+08                    52.978571
247          26.543333  7.883010e+08                    55.515333
248          29.214545  7.060626e+08                    52.087273
249          24.186667  7.876782e+08                    48.050833

     Malnutrition_Prevalence  Smoking_Prevalence  TB_Doctors_Per_100K  \
25                 26.952857           23.152143             4.580714
26                 29.274000           20.102667             4.538000
27                 24.186923           16.760769             4.943846
28                 29.837000           20.646000             3.956000
29                 33.670000           18.320000             4.539000
..                       ...                 ...                  ...
245                28.018000           22.140000             4.110000
246                32.048571           25.894286             2.774286
247                22.657333           20.240667             5.432000
248                20.811818           23.162727             5.218182
249                25.278333           23.558333             4.706667

     Access_To_Health_Services  BCG_Vaccination_Coverage
25                   65.399286                 72.300714
26                   59.501333                 72.997333
27                   58.539231                 74.576154
28                   67.115000                 71.201000
29                   71.741000                 77.079000
..                         ...                       ...
245                  62.249000                 69.852000
246                  64.472857                 83.158571
247                  59.010667                 79.668667
248                  58.169091                 80.250000
249                  63.940000                 72.790833

[175 rows x 13 columns]

In [8]:
climate_common = climate[climate['Country'].isin(common_countries)].reset_index(drop=True)
print(climate_common)

    Country  Year  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
0    Brazil  2000             31.200000                    14.600000
1    Brazil  2001             17.150000                    11.350000
2    Brazil  2002             14.266667                    11.066667
3    Brazil  2003             17.450000                    12.750000
4    Brazil  2004             16.400000                    10.100000
..      ...   ...                   ...                          ...
154     USA  2019             30.800000                     8.400000
155     USA  2020             14.250000                    10.600000
156     USA  2021             26.450000                    16.050000
157     USA  2022             17.285714                    11.242857
158     USA  2023             16.257143                    11.242857

     Rainfall (mm)    Population  Extreme Weather Events
0       803.000000  2.553400e+08                9.000000
1      1492.000000  6.233296e+08               12.500000
2      2127.000000  5.631957e+08                9.000000
3      1616.000000  5.330340e+08                8.000000
4      1641.000000  6.815291e+08                7.000000
..             ...           ...                     ...
154    1891.000000  7.042742e+08                7.333333
155    2349.500000  7.770560e+08                6.250000
156    1387.000000  1.094680e+09                6.500000
157    1912.571429  7.274027e+08                7.714286
158    1532.000000  7.628877e+08                5.142857

[159 rows x 7 columns]

In [9]:
tb_common = tb[tb['Country'].isin(common_countries)].reset_index(drop=True)
print(tb_common)

    Country  Year      TB_Cases    TB_Deaths  TB_Incidence_Rate  \
0    Brazil  2000  26469.928571  4715.071429         264.630714
1    Brazil  2001  27111.200000  5496.066667         222.940667
2    Brazil  2002  25070.307692  4635.076923         224.391538
3    Brazil  2003  26293.800000  4056.400000         224.887000
4    Brazil  2004  26121.500000  5998.700000         211.456000
..      ...   ...           ...          ...                ...
170     USA  2020  21129.500000  5269.200000         297.089000
171     USA  2021  21007.142857  3201.428571         285.974286
172     USA  2022  31407.600000  6023.866667         253.673333
173     USA  2023  27703.545455  6002.000000         246.024545
174     USA  2024  26832.916667  4297.666667         283.975000

     TB_Mortality_Rate    Population  Urban_Population_Percentage  \
0            25.564286  6.243100e+08                    53.610714
1            22.799333  5.773580e+08                    57.509333
2            26.070000  6.154342e+08                    52.996154
3            21.379000  3.593807e+08                    52.546000
4            32.323000  8.924601e+08                    54.511000
..                 ...           ...                          ...
170          30.186000  7.849409e+08                    60.090000
171          19.812857  9.580873e+08                    52.978571
172          26.543333  7.883010e+08                    55.515333
173          29.214545  7.060626e+08                    52.087273
174          24.186667  7.876782e+08                    48.050833

     Malnutrition_Prevalence  Smoking_Prevalence  TB_Doctors_Per_100K  \
0                  26.952857           23.152143             4.580714
1                  29.274000           20.102667             4.538000
2                  24.186923           16.760769             4.943846
3                  29.837000           20.646000             3.956000
4                  33.670000           18.320000             4.539000
..                       ...                 ...                  ...
170                28.018000           22.140000             4.110000
171                32.048571           25.894286             2.774286
172                22.657333           20.240667             5.432000
173                20.811818           23.162727             5.218182
174                25.278333           23.558333             4.706667

     Access_To_Health_Services  BCG_Vaccination_Coverage
0                    65.399286                 72.300714
1                    59.501333                 72.997333
2                    58.539231                 74.576154
3                    67.115000                 71.201000
4                    71.741000                 77.079000
..                         ...                       ...
170                  62.249000                 69.852000
171                  64.472857                 83.158571
172                  59.010667                 79.668667
173                  58.169091                 80.250000
174                  63.940000                 72.790833

[175 rows x 13 columns]

In [10]:
print(climate_common['Country'].value_counts())
print(tb_common['Country'].value_counts())

Country
Brazil          24
Russia          24
India           23
South Africa    23
Indonesia       22
USA             22
China           21
Name: count, dtype: int64
Country
Brazil          25
China           25
India           25
Indonesia       25
Russia          25
South Africa    25
USA             25
Name: count, dtype: int64

Data are mismatched for the two datasets. The count per country in climate does not match in tb for the same period of time.

We missing years in climate_common.

This will affect the merge and bias the analyzis

In [11]:
# Check the missing countries in climate_common
for country in common_countries:
    print(country)
    print(climate_common[climate_common['Country'] == country]['Year'].sort_values().unique())

India
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2011 2012 2013 2014
 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Brazil
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Indonesia
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2014
 2015 2016 2018 2019 2020 2021 2022 2023]
South Africa
[2000 2001 2002 2003 2004 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015 2016 2017 2018 2019 2020 2021 2022 2023]
China
[2000 2001 2003 2004 2006 2007 2008 2010 2011 2012 2013 2014 2015 2016
 2017 2018 2019 2020 2021 2022 2023]
USA
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2011 2012 2013 2014
 2015 2016 2018 2019 2020 2021 2022 2023]
Russia
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

In [12]:
# Matching
# Get the common (Country, Year) combinations
common_keys = pd.merge(
    climate_common[['Country', 'Year']],
    tb_common[['Country', 'Year']],
    on=['Country', 'Year'],
    how='inner'
)

# Filter both datasets to keep only the matching rows
climate_matched = pd.merge(climate_common, common_keys, on=['Country', 'Year'], how='inner')
tb_matched = pd.merge(tb_common, common_keys, on=['Country', 'Year'], how='inner')

In [13]:
for country in common_countries:
    print(country)
    print("Climate years:", climate_matched[climate_matched['Country'] == country]['Year'].sort_values().unique())
    print("TB years:     ", tb_matched[tb_matched['Country'] == country]['Year'].sort_values().unique())

India
Climate years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2011 2012 2013 2014
 2015 2016 2017 2018 2019 2020 2021 2022 2023]
TB years:      [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2011 2012 2013 2014
 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Brazil
Climate years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
TB years:      [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Indonesia
Climate years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2014
 2015 2016 2018 2019 2020 2021 2022 2023]
TB years:      [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2014
 2015 2016 2018 2019 2020 2021 2022 2023]
South Africa
Climate years: [2000 2001 2002 2003 2004 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015 2016 2017 2018 2019 2020 2021 2022 2023]
TB years:      [2000 2001 2002 2003 2004 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015 2016 2017 2018 2019 2020 2021 2022 2023]
China
Climate years: [2000 2001 2003 2004 2006 2007 2008 2010 2011 2012 2013 2014 2015 2016
 2017 2018 2019 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2010 2011 2012 2013 2014 2015 2016
 2017 2018 2019 2020 2021 2022 2023]
USA
Climate years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2011 2012 2013 2014
 2015 2016 2018 2019 2020 2021 2022 2023]
TB years:      [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2011 2012 2013 2014
 2015 2016 2018 2019 2020 2021 2022 2023]
Russia
Climate years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
TB years:      [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

In [14]:

print(climate_matched['Country'].value_counts())
print(tb_matched['Country'].value_counts())

Country
Brazil          24
Russia          24
India           23
South Africa    23
Indonesia       22
USA             22
China           21
Name: count, dtype: int64
Country
Brazil          24
Russia          24
India           23
South Africa    23
Indonesia       22
USA             22
China           21
Name: count, dtype: int64

In [15]:
# Step 1: Get years per country in each dataset
climate_years_by_country = climate_common.groupby('Country')['Year'].apply(set)
tb_years_by_country = tb_common.groupby('Country')['Year'].apply(set)

# Step 2: Find the intersection of years that appear for *every* country
common_years_climate = set.intersection(*climate_years_by_country)
common_years_tb = set.intersection(*tb_years_by_country)

# Step 3: Keep only the years that are common to all countries in both datasets
final_common_years = common_years_climate & common_years_tb

# Step 4: Filter both datasets
climate_matched = climate_common[climate_common['Year'].isin(final_common_years)]
tb_matched = tb_common[tb_common['Year'].isin(final_common_years)]

In [16]:
print(climate_matched['Country'].value_counts())
print(tb_matched['Country'].value_counts())

Country
Brazil          18
China           18
India           18
Indonesia       18
Russia          18
South Africa    18
USA             18
Name: count, dtype: int64
Country
Brazil          18
China           18
India           18
Indonesia       18
Russia          18
South Africa    18
USA             18
Name: count, dtype: int64

In [17]:
for country in common_countries:
    print(country)
    print("Climate years:", climate_matched[climate_matched['Country'] == country]['Year'].sort_values().unique())
    print("TB years:     ", tb_matched[tb_matched['Country'] == country]['Year'].sort_values().unique())

India
Climate years: [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
Brazil
Climate years: [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
Indonesia
Climate years: [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
South Africa
Climate years: [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
China
Climate years: [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
USA
Climate years: [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
Russia
Climate years: [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]
TB years:      [2000 2001 2003 2004 2006 2007 2008 2011 2012 2014 2015 2016 2018 2019
 2020 2021 2022 2023]

In [18]:
climate_matched.columns

Index(['Country', 'Year', 'Avg Temperature (°C)',
       'CO2 Emissions (Tons/Capita)', 'Rainfall (mm)', 'Population',
       'Extreme Weather Events'],
      dtype='object')

In [20]:
tb_matched.columns

Index(['Country', 'Year', 'TB_Cases', 'TB_Deaths', 'TB_Incidence_Rate',
       'TB_Mortality_Rate', 'Population', 'Urban_Population_Percentage',
       'Malnutrition_Prevalence', 'Smoking_Prevalence', 'TB_Doctors_Per_100K',
       'Access_To_Health_Services', 'BCG_Vaccination_Coverage'],
      dtype='object')

In [23]:
climate_reduced = climate_matched.drop(columns=['Population'])
tb_reduced = tb_matched.drop(columns=['Population', 'Urban_Population_Percentage',
       'Malnutrition_Prevalence', 'Smoking_Prevalence', 'TB_Doctors_Per_100K',
       'Access_To_Health_Services', 'BCG_Vaccination_Coverage'])
print(climate_reduced, tb_reduced)

    Country  Year  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
0    Brazil  2000             31.200000                    14.600000
1    Brazil  2001             17.150000                    11.350000
3    Brazil  2003             17.450000                    12.750000
4    Brazil  2004             16.400000                    10.100000
6    Brazil  2006             22.233333                    11.733333
..      ...   ...                   ...                          ...
154     USA  2019             30.800000                     8.400000
155     USA  2020             14.250000                    10.600000
156     USA  2021             26.450000                    16.050000
157     USA  2022             17.285714                    11.242857
158     USA  2023             16.257143                    11.242857

     Rainfall (mm)  Extreme Weather Events
0       803.000000                9.000000
1      1492.000000               12.500000
3      1616.000000                8.000000
4      1641.000000                7.000000
6      2343.333333                6.333333
..             ...                     ...
154    1891.000000                7.333333
155    2349.500000                6.250000
156    1387.000000                6.500000
157    1912.571429                7.714286
158    1532.000000                5.142857

[126 rows x 6 columns]     Country  Year      TB_Cases    TB_Deaths  TB_Incidence_Rate  \
0    Brazil  2000  26469.928571  4715.071429         264.630714
1    Brazil  2001  27111.200000  5496.066667         222.940667
3    Brazil  2003  26293.800000  4056.400000         224.887000
4    Brazil  2004  26121.500000  5998.700000         211.456000
6    Brazil  2006  18239.300000  4474.800000         276.510000
..      ...   ...           ...          ...                ...
169     USA  2019  23763.214286  3802.642857         278.699286
170     USA  2020  21129.500000  5269.200000         297.089000
171     USA  2021  21007.142857  3201.428571         285.974286
172     USA  2022  31407.600000  6023.866667         253.673333
173     USA  2023  27703.545455  6002.000000         246.024545

     TB_Mortality_Rate
0            25.564286
1            22.799333
3            21.379000
4            32.323000
6            28.467000
..                 ...
169          26.669286
170          30.186000
171          19.812857
172          26.543333
173          29.214545

[126 rows x 6 columns]

In [24]:
#Merge the two datasets
merged_dataset = pd.merge(climate_reduced, tb_reduced, on=['Country', 'Year'], how='inner')
print(merged_dataset)

    Country  Year  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
0    Brazil  2000             31.200000                    14.600000
1    Brazil  2001             17.150000                    11.350000
2    Brazil  2003             17.450000                    12.750000
3    Brazil  2004             16.400000                    10.100000
4    Brazil  2006             22.233333                    11.733333
..      ...   ...                   ...                          ...
121     USA  2019             30.800000                     8.400000
122     USA  2020             14.250000                    10.600000
123     USA  2021             26.450000                    16.050000
124     USA  2022             17.285714                    11.242857
125     USA  2023             16.257143                    11.242857

     Rainfall (mm)  Extreme Weather Events      TB_Cases    TB_Deaths  \
0       803.000000                9.000000  26469.928571  4715.071429
1      1492.000000               12.500000  27111.200000  5496.066667
2      1616.000000                8.000000  26293.800000  4056.400000
3      1641.000000                7.000000  26121.500000  5998.700000
4      2343.333333                6.333333  18239.300000  4474.800000
..             ...                     ...           ...          ...
121    1891.000000                7.333333  23763.214286  3802.642857
122    2349.500000                6.250000  21129.500000  5269.200000
123    1387.000000                6.500000  21007.142857  3201.428571
124    1912.571429                7.714286  31407.600000  6023.866667
125    1532.000000                5.142857  27703.545455  6002.000000

     TB_Incidence_Rate  TB_Mortality_Rate
0           264.630714          25.564286
1           222.940667          22.799333
2           224.887000          21.379000
3           211.456000          32.323000
4           276.510000          28.467000
..                 ...                ...
121         278.699286          26.669286
122         297.089000          30.186000
123         285.974286          19.812857
124         253.673333          26.543333
125         246.024545          29.214545

[126 rows x 10 columns]